{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins":  [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src", "./lib"],
      "alias": {
        "config": "./config",
        "pkg": "./package.json",
        "server": "./bin/server.js"
      }
    }]
  ]
}
