version: '2'

services:
  api-server:
    environment:
      - NODE_ENV=test
      - JWT_TOKEN_SECRET=secret-jwt-token
      - DATABASE_URL=mongodb://mongodb:27017/koa2-boilerplate-test

    command: bash -c "npm test"
